@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;

  --color-primary: #78C841;
  --color-secondary: #16610E;
  --color-accent: #18230F;
}

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.active-link{
  background-color: #78C841;
}